$main-text-color: #889099;
$second-text-color: #323642;

$first-blue-color: #62a2f6;
$second-blue-color: #3285f3;
$first-red-color: #ff2a00;
$second-red-color: #f04008;
$first-green-color: #2d9000;
$second-green-color: #247300;