.footer {
    display: none;
    height: 160px;
    background-color: #f6f6f6;
    padding: 25px 0;
    &__social {
        &__title {
            font-size: 18px;
        }
        &__descr {
            margin-top: 10px;
            font-size: 15px;
        }
        &__wrapper {
            &__icons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 230px;
                height: 35px;
                margin-top: 10px;
            }
        }
        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $first-green-color;
            border-radius: 5px;
            width: 35px;
            height: 100%;
            transition: .2s all;
            cursor: pointer;
            svg {
                width: 18px;
                height: 18px;
                fill: #fff;
            }
            &:hover {
                background-color: $second-green-color;
            }
        }
    }
    &__benefit {
        &__title {
            font-weight: 300;
            margin-bottom: 10px;
            a {
                font-size: 18px;
                text-decoration: none;
                color: #000;
            }
        }
        &__item {
            margin-top: 5px;
            font-weight: 300;
            a {
                text-decoration: none;
                color: #000;
                font-size: 14px;
            }
            span {
                width: 45px;
                height: 18px;
                background-color: $first-green-color;
                font-size: 14px;
                padding: 3px;
                border-radius: 2px;
                color: #fff;
                font-weight: 400;
            }
        }
    }
    &__download {
        &__block {
            display: flex;
            justify-content: space-between;
            width: 290px;
            height: 40px;
            img {
                height: 100%;
                width: 140px;
            }
        }
    }
    &__icons {
        &__wrapper {
            display: flex;
            justify-content: space-between;
            width: 127px;
            align-items: center;
            margin-top: 20px;
        }
        &__item {
            a {
                width: 27px;
                height: 27px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #dfdfdf;
                border-radius: 50%;
                cursor: pointer;
                transition: .2s all;
                &:hover {
                    background-color: #878787;
                }
            }
            svg {
                width: 15px;
                height: 15px;
                fill: #fff;
            }
        }
    }

}